@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    height: 100vh;
    display: flex;
    background-color: #f4f4f4;
    justify-content: center;
    align-items: center;
}

.card {
    background-color: #fff;
    width: 100%;
    max-width: 370px;
    border-radius: 14px;
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
}
.card::before {
    content: "";
    background-color: #4070f4;
    height: 150px;
    width: 100%;
    position: absolute;
}
.image {
    position: relative;
    background-color: #4070f4;
    height: 150px;
    margin-top: 25px;
    width: 150px;
    border-radius: 50%;
    padding: 5px;
    margin-bottom: 12px;
}


.profile-img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    border: 2px solid #fff;
}

.name {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.name p:nth-of-type(1) {
    font-weight: 400;
    font-size: 1.6rem;
}

.name p:nth-of-type(2) {
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 2px;
}

.socials {
    display: flex;
    align-items: center;
    margin-top: 18px;
}

.sc {
    color: white;
    height: 34px;
    width: 34px;
    margin: 0 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #4070f4;
    text-decoration: none;
    border-radius: 50%;
    font-size: 16px;
}

.buttons {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 12px;
    margin-bottom: 40px;
}

.btn {
    cursor: pointer;
    margin: 0 6px;
    border-radius: 20px;
    padding: 10px 24px;
    font-size: 18px;
    font-weight: 500;
    color: white;
    background-color: #4070f4;
    border: none;
    transition: all 0.3s ease;
}

.btn:hover {
    background-color: #0e4bf1;
}